.main {
    padding: 20px;
}

.title {
    text-align: center;
    margin-top: 40px;
    font-size: 2em;
    color: #333;
}

.use {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensures spacing between items */
    margin: 20px auto;
    gap: 20px;
    padding: 0 40px; /* Increased left and right space */
}

.workSection {
    flex: 1;
    max-width: calc(25% - 40px); /* Adjust for increased padding */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.workSection:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.workSection img {
    max-height: 40px;
    max-width: 40px;
    margin-bottom: 10px;
}

.workSection h1 {
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
}

.workSection p {
    color: #666;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.5em;
    }
    .workSection {
        max-width: calc(50% - 20px); /* Adjust for smaller screens */
    }
    .use {
        flex-direction: column;
        align-items: center;
        padding: 0 20px; /* Adjust padding for smaller screens */
    }
}

@media (max-width: 480px) {
    .workSection {
        max-width: calc(100% - 20px); /* Full width for very small screens */
    }
    .use {
        padding: 0 10px; /* Adjust padding for very small screens */
    }
}
