.container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .backButton {
    background: none;
    border: none;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .profileContainer {
    display: flex;
    gap: 20px;
  }
  
  .photoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .imageWrapper {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #2abd5d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profileImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(144, 255, 144, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 50%;
  }
  
  .imageWrapper:hover .overlay {
    opacity: 1;
  }
  
  .changePhotoButton {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    color: rgb(6, 6, 6);
    border-radius: 5px;
  }
  
  .detailsSection {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .field {
    display: flex;
    flex-direction: column;
  }
  
  .field label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
  }
  
  .field input {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .field select
  {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .saveButton {
    grid-column: span 2;
    padding: 10px;
    font-size: 16px;
    background-color: #2abd5d;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  .saveButton:hover
  {
    background-color: #54ab72;
  }
  